<div class="options-container">
    <div class="box">
      <div class="description-box">
        <i class="fas fa-user-edit"></i>
        <h3>REPORTE DE VENTAS</h3>
        <p>Por favor complete la información para registrarse.</p>
      </div>
      
      <form>
        <div class="form-group">
          <label for="cc">Cédula</label>
          <input type="text" id="cc" name="cc" placeholder="Ingrese su cédula">
        </div>
  
      
        
        <button type="submit" class="rounded-button">
          <i class="fas fa-paper-plane"></i> Enviar
        </button>
      </form>
    </div>
  </div>
  