<div class="options-container">
    <div class="box">
      <div class="description-box">
        <h3>Gestión de Empleados</h3>
        <p>Seleccione una opción para gestionar los empleados.</p>
      </div>
  
      <!-- Contenedor de botones de acción -->
      <div class="buttons-container">
        <button class="rounded-button" (click)="agregarEmpleado()">
          <i class="fas fa-user-plus"></i>  Empleados
        </button>
        <button class="rounded-button" (click)="pagoEmpleado()">
          <i class="fas fa-credit-card"></i> Pago a Empleado
        </button>

        
      </div>
  
      <!-- Contenedor adicional debajo de los botones -->
      <div class="inner-container">
        <!-- Asegúrate de usar los nombres correctos de los selectores -->
        <app-registrar-empleado *ngIf="showRegistroEmpleado"></app-registrar-empleado>
        <app-pago-empleados *ngIf="showPagoEmpleado"></app-pago-empleados>
      </div>
    </div>
  </div>
  