<div class="options-container">
    <div class="box">
      <div class="description-box">
        <h3>Gestión de Ventas</h3>
        <p>Seleccione una opción para gestionar las ventas y clientes.</p>
      </div>
  
      <div class="buttons-container">
        <button class="rounded-button"  (click)="registrarcliente()">   
          <i class="fas fa-cash-register" ></i> Registrar Clientes
        </button>
        <button class="rounded-button" (click)="registrarventas()">
          <i class="fas fa-cash-register"></i> Registrar Ventas 
        </button>
        <button class="rounded-button" (click)="generarfactura()">
          <i class="fas fa-receipt"></i> Generar Factura 
        </button>
      
      </div>
  
      <!-- Contenedor adicional debajo de los botones -->
      <div class="inner-container">
            <app-registrar-ventas *ngIf="showventas"></app-registrar-ventas>
           <app-registrar-cliente *ngIf="showcliente"></app-registrar-cliente>
           <app-generar-factura *ngIf="showfactura "></app-generar-factura>
        <!-- Componentes adicionales según tus necesidades -->
      
      </div>
    </div>
</div>
