<div class="dashboard">
  <div class="top-section">
    <h2 class="title">
      <span class="title-rosita">Rosita Papeleria</span>
    </h2>
    <button class="user-button">
      <i class="fas fa-user"></i> Cerrar Sesión
    </button>
  </div>

  <div class="middle-section">
    <!-- Aquí se cargará el componente Administrador -->
    <router-outlet></router-outlet>
  </div>

  <div class="bottom-section">
    <p>Integrat!on Software Factory</p>
    <p>Tatiana Ortiz</p>
    <p>Jessica Contreras</p>
    <p>Fabian Montaño</p>
    <p>Alejandro Cipamocha</p>
  </div>
</div>
